/* Stripe gateway Membership Checkout specific styles. */
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button {
	grid-area: paymentrequestbutton;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button h4 {
	margin-top: 1em;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields-display-seal  {
	grid-template-areas:
		"paymentrequestbutton rightcol"
		"leftcol rightcol";
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1em auto 1em auto;
	grid-template-areas:
		"AccountNumber AccountNumber"
		"Expiry CVV"
		"DiscountCode DiscountCode";
	grid-column-gap: 1em;
	-ms-grid-columns: 1fr 1em 1fr;
	grid-template-columns: 1fr 1fr;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber,
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields div#Expiry,
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields div#CVV,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#AccountNumber,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#Expiry,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields div#CVV {
	color: #666;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0;
	padding: 0.625em 0.4375em;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-account-number,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-account-number {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: AccountNumber;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: Expiry;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-cvv,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-cvv {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	grid-area: CVV;
}
.pmpro_checkout_gateway-etsstripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-discount-code {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: DiscountCode;
}